<script>
document.addEventListener('DOMContentLoaded', function() {
    {% if site.ios_app_id %}
    
    var apiURL = "https://itunes.apple.com/lookup?id={{ site.ios_app_id }}&country={{ site.ios_app_country }}";
    
    fetch(apiURL)
        .then(response => response.json())
        .then(data => {
            if (data.results && data.results.length) {
                console.info("Image strings loaded from Apple API.");
                var appInfo = data.results[0];
                
                // Set favicon
                document.querySelector('link[rel="shortcut icon"]').setAttribute("href", appInfo.artworkUrl512);
                
                // Set page title using the iOS app ID if it is not set manually in _config.yml
                var pageTitle = document.querySelector(".pageTitle");
                if (pageTitle && pageTitle.textContent.trim().length === 0) {
                    pageTitle.textContent = appInfo.trackName;
                }
                
                // Set large app icon using the iOS app ID if it is not set manually in _config.yml
                var appIconLarge = document.querySelector(".appIconLarge");
                if (appIconLarge && !appIconLarge.getAttribute('src')) {
                    appIconLarge.setAttribute("src", appInfo.artworkUrl512);
                }
                
                // Set header app icon using the iOS app ID if it is not set manually in _config.yml
                var appIconHeader = document.querySelector(".headerIcon");
                if (appIconHeader && !appIconHeader.getAttribute('src')) {
                    appIconHeader.setAttribute("src", appInfo.artworkUrl512);
                }
                
                // Set app name using the iOS app ID if it is not set manually in _config.yml
                var appName = document.querySelector(".appName");
                if (appName && appName.textContent.trim().length === 0) {
                    appName.textContent = appInfo.trackName;
                }
                
                // Set the name displayed in the header if it is not set manually in _config.yml
                var headerName = document.querySelector(".headerName");
                if (headerName && headerName.textContent.trim().length === 0) {
                    headerName.textContent = appInfo.trackName;
                }
                
                // Set price using the iOS app ID if it is not set manually in _config.yml
                var appPrice = document.querySelector(".appPrice");
                if (appPrice && appPrice.textContent.trim().length === 0) {
                    appPrice.textContent = appInfo.formattedPrice;
                }
                
                // Set App Store link using the iOS app ID if it is not set manually in _config.yml
                var appStoreLink = document.querySelector(".appStoreLink");
                if (appStoreLink && appStoreLink.getAttribute('href').trim().length === 0) {
                    appStoreLink.setAttribute("href", appInfo.trackViewUrl);
                }
                
                console.info(appInfo);
            }
        })
        .catch(error => {
            console.error("Error fetching app data:", error);
        });
    
    {% endif %}
});
</script>