<script>
    document.addEventListener('DOMContentLoaded', function() {
        {% for file in site.static_files %}
            {% if file.path contains 'assets/screenshot/' %}
                var iphoneScreen = document.querySelector('.iphoneScreen');
                iphoneScreen.setAttribute('src', '{{ site.github.baseurl }}{{ file.path }}');
                iphoneScreen.classList.remove('hidden');
                console.log("{{ file.path }}");
            {% elsif file.path contains 'assets/videos/' %}
                {% unless file.path contains 'assets/videos/Place-video-files-here.txt' %}
                    document.querySelector('.iphoneScreen').classList.add('hidden');
                    console.log("remove screenshot");
                {% endunless %}
                {% if file.extname == ".mov" or file.extname == ".mp4" %}
                    document.querySelector('.videoContainer').classList.remove('hidden');
                    var source = document.createElement('source');
                    source.setAttribute('src', '{{ site.github.baseurl }}{{ file.path }}');
                    source.setAttribute('type', 'video/mp4');
                    document.querySelector('.screenvideo').appendChild(source);
                    console.log("{{ file.path }}");
                {% elsif file.extname == ".ogg" %}
                    document.querySelector('.videoContainer').classList.remove('hidden');
                    var source = document.createElement('source');
                    source.setAttribute('src', '{{ site.github.baseurl }}{{ file.path }}');
                    source.setAttribute('type', 'video/ogg');
                    document.querySelector('.screenvideo').appendChild(source);
                    console.log("{{ file.path }}");
                {% elsif file.extname == ".webm" %}
                    document.querySelector('.videoContainer').classList.remove('hidden');
                    var source = document.createElement('source');
                    source.setAttribute('src', '{{ site.github.baseurl }}{{ file.path }}');
                    source.setAttribute('type', 'video/webm');
                    document.querySelector('.screenvideo').appendChild(source);
                    console.log("{{ file.path }}");
                {% endif %}
            {% endif %}
        {% endfor %}
    });
</script>